# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:dusty-poodle-790 # team: j-b, project: gmapsplus

VITE_CONVEX_URL=https://dusty-poodle-790.convex.cloud

SETUP_SCRIPT_RAN=1

VITE_GOOGLE_MAPS_API_KEY=AIzaSyA6DcWRu8-BOrppr7QeEgRio6KShu_YGSU
VITE_GOOGLE_MAPS_MAP_ID=DEMO_MAP_ID